<h3 class="post-title">{{this.model.title}}</h3>

<p class="author">{{this.model.user.name}}</p>

<p class="language">{{this.lang}}</p>

<p>
  <LintTo @route="post.comments" @model="1" class="routable-post-comments-link">Comments</LintTo>
  <LintTo @route="post.likes" @model="1" class="routable-post-likes-link">Likes</LintTo>
  <LintTo @route="post.diggs" @model="1" class="routable-post-diggs-link">Diggs</LintTo>
</p>

{{outlet}}

  <LintToExternal @route="home" class="routable-post-home-link">Go home</LintToExternal>
  <LintTo @route="index" class="routable-post-blog-home-link">Go to blog home</LintTo>
  <LintTo @route="application" class="routable-post-blog-home-link-app">Also goes to blog home</LintTo>

<LinkTo @query={{hash lang="Japanese"}} class="routable-post-jp-link">Go to Japanese version</LinkTo>
<button class="routable-post-ch-link" type="button" {{on "click" this.goToChineseVersion}}>Go to Chinese version</button>
<button class="routable-post-transition-to-home-button {{if this.transitionedToExternal "transitioned-to-external"}}" type="button" {{on "click" this.transitionToHome}}>
    Go home programmatically
</button>

<button class="routable-post-replace-with-home-button {{if this.replacedWithExternal "replaced-with-external"}}" type="button" {{on "click" this.replaceWithHome}}>
    Also goes home programmatically
</button>

{{!-- {{post-actions}} --}}

<button class="routable-transition-external-button {{if this.transitionToExternal "transitioned-to-external"}}" type="button" {{on "click" this.transitionToHomeByService}}>
    Go home (Engine Router Service)
</button>

<button class="routable-replace-external-button {{if this.replaceWithExternal "replaced-with-external"}}" type="button" {{on "click" this.replaceWithHomeByService}}>
    Go home progammatically (Engine Router Service)
</button>



<button class="routable-url-for-external-button {{if this.urlForExternal "url-for-external"}}" type="button" {{on "click" this.copyPostURL}}>
    Copy URL by (Engine Router Service)
</button>
<div>
  {{this.urlForExternal}}
</div>



<button class="routable-is-active-external-button {{if this.isActiveExternal "is-active-external"}}" type="button" {{on "click" this.checkActiveState}}>
    isActive in (Engine Router Service)
</button>

<button class="routable-transition-to-url-button {{if this.transitionTo "transitioned-to-url"}}" type="button" {{on "click" (fn this.transitionToUrlByService "/routable-engine-demo/blog/post/2?lang=Korean")}}>
  Go to direct URL (Engine Router Service)
</button>
